body {
    text-align: center;
    margin: 0;
    background-color: black;
	
}

.sub-header {
    padding-top: 20px;
}

.title {
    text-transform: uppercase;
    font-family: 'Spectral SC', serif;
	color: #071725;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

header {
    background-color: #1540F8;
    color: #FFFFFF;
    padding: 30px 20px;
}

.instructions {
    text-transform: uppercase;
    font-family: raleway;
    color: #0D2c40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}

nav {
    background-color: #00A6B3;
    color: #FFFFFF;
    padding: 20px 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
    color: #F0F8FF;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 20px;
    border-bottom: 2px solid transparent;
}
a:hover {
    background-color: white;
}

main {
    width: 850px; margin: 35px auto;
}

p {
    font-family: "Droid Serif";
    line-height: 26px;
    font-size: 18px;
}

img {
    margin: 40px 8px 0;
}

footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
.copyright {
    font-family: "Raleway";
    float: left;
}

.message {
    font-family: "Raleway";
    float: right;
}

.name {
    color: #F15B31;
    font-weight: 700;
}