body {
    bacground: url(../images/gray-bg.jpg);
    font-family: 'Audiowide', cursive;
    font-weight: 300;
    color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.logo {
    margin-top: 20px;
    width: 25%;
    height: 20%;
    border-radius: 50%;
    border: 3px solid orange;
}

.carousel img {
    height: 350px !important;
    width: 1200px !important;
}

.name {
    font-family: 'Audiowide', cursive;
    color: #000000;
    font-size: 40px;
    font-weight: 200;
}

.profession {
    font-size: 20px;
    font-family: cursive;
}

.horizontal-rule {
    border: 2px solid #ffa500;
}

.coding {
   max-width: 100%;
   max-height: 100%;
}

.featured-work {
    color: #2d3c49;
    margin-top: 40px;
    margin-bottom: 20px;
}

first-project {
    width: 300px;
    height: 200px;
}

.project-text {
    color: black;
    text-transform: uppercase;
}

web-designer {
    width: 300px;
    height: 200px;
}

.web-text {
    text-transform: uppercase;
}

cat {
    width: 300px;
    height: 200px;
}

.cat-text {
    color: black;
    text-transform: uppercase;
}

.buttons {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.buttons:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.copyright {
    text-align: left;
}

.template {
    padding-left: 350px;
}
